@import "global";

.header a {
    color: #111;
}

.credit-section{
    padding: 6.5rem 15rem;
}

h2{
    text-align: center;
    padding-bottom: 6rem;
}

.credit-box{
    display: flex;
    justify-content: space-between;
}

.credit-pic {
    display: flex;
    justify-content: center;
}

.credit-text {
    width: 100%;
}

.credit {
    padding: 2rem 2rem 1rem 2rem;
}

h3 {
    font-size: 1rem;
    font-weight: 400;
}

.credit-link, .credit-link:visited {
    font-size: 0.9rem;
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid #111;
    transition: all 0.2s ease-in-out
}

.credit-link:hover{
    color: $salmon;
    border-bottom: 1px solid $salmon;
}

/* For mobile phones: */
@media only screen and (min-width: 260px) and (max-width: 1440px) {
    .credit-section {
        width: 100%;
        padding: 3rem 0;
    }

    .credit-box {
        display: flex;
        flex-direction: column;
    }
    
    .credit-pic {
        padding-bottom: 2rem;
    }

    .credit-text {
        padding: 0 2rem;
    }
}