/* Footer ==================================================*/
.socialmediaicon, .socialmediaicon:visited {
    text-decoration: none;
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 1em;
    margin: 0.5em;
    transition: all 0.5s ease-out;
}

.socialmediaicon:hover {
    background-color: #FFF;
}
