$primary: salmon;
$secondary: #d3d3d3;
$black: #000;
$white: #FFF;

@import "../../../node_modules/bootstrap/scss/bootstrap";

.display-1, .display-5 {
    font-weight: 600;
}


/* SITE MAP */
.sitemap-h6{
    text-transform: uppercase;
    font-weight: 600;
}

.list-group {
    .list-group-item:first-child {
        border-top: 2px solid $black;
    }

    .list-group-item, .list-group-item:last-child {
        background-color: transparent;
        border-bottom: 1px solid $black;
        padding: 0.5rem 0;
    }    
}

a, a:visited {
    color: $black;
    text-decoration: none;
}

a:hover {
    color: $primary;
}


