@import "./color.scss";

@import "../../../node_modules/bootstrap/scss/bootstrap";

@import "./font.scss";

@import "./sideNav.scss";

@import "./footer.scss";


/* ==============================================================*/
/* For Phones & Tablets */
@media only screen and (min-width: 200px) and (max-width: 1440px) {
    .toggle-btn {
        top: 3rem;
        right: 3rem;
    }

    .side-nav-action {
        padding: 2rem 0.5rem; 
        font-size: 0.8rem;
    }
    
    .side-nav-social {
        display: none;
    }

    .side-nav-social-symbol {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-items: center;
        margin-top: 2.5rem;
    }
    
    .side-nav-social-icon, .side-nav-social-icon {
        text-decoration: none;
        display: flex;
        justify-items: center;
        align-items: center;
        padding: 1em;
        margin: 0.5em;
        transition: all 0.5s ease-out;
    }
    
    .side-nav-social-icon:hover {
        background-color: $primary;
    }
    
    .sitemap-section {
        display: flex;
        flex-direction: column;
        padding: 3rem;
        width: 100%;
    }

    .sitemap-pic {
        display: none;
    }

    .sitemap-contact, .sitemap-links {
        padding-bottom: 2rem;
    }


}