@import "general.scss";

.display-1 {
    color: $white;
}

.h5 {
    font-weight: 400;
    line-height: 2rem;
}

.customer-h5 {
    font-weight: 600;
    font-size: 1.2rem;
}

.dot {
    color: white;
}