@import "general.scss";

.display-1 {
    color: $white;
}

.display-4 {
    margin: 0;
}

.h5 {
    font-weight: 400;
    line-height: 2rem;
}

.customer-h5 {
    font-weight: 600;
    font-size: 1.2rem;
}

.calltoaction{
    border-top: 2px solid $primary;
    border-bottom: 2px solid $primary;
}