@import "general.scss";

.display-1 {
    color: $white;
}

.display-4 {
    margin: 0;
}

.qoute-h5 {
    font-weight: 400;
    line-height: 2rem;
}

.testimonial-h5 {
    font-weight: 600;
    font-size: 1.2rem;
}

.calltoactionicon:hover {
    background-color: $primary;
}
