/* Menu Toggle Button ============================================*/
.toggle-btn {
    position: fixed;
    top: 2.4rem;
    right:15rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.menu-span {
    padding-right: 1rem;
    color: #999;
    transition: all 1s ease-in-out;
    font-size: 1.1rem;
}

.menu-span.open {
    display: none;
}

.menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    z-index: 1;
}

.menu-btn__lines,
.menu-btn__lines::before,
.menu-btn__lines::after {
    width: 1.5rem;
    height: 0.2rem;
    background-color: $primary;
    transition: all 0.5s ease-in-out;
}

.menu-btn__lines::before,
.menu-btn__lines::after {
    content: "";
    position: absolute;
}

.menu-btn__lines::before {
    transform: translateY(-0.5rem);
}
.menu-btn__lines::after {
    transform: translateY(0.5rem);
}

.menu-btn.open .menu-btn__lines {
    background-color: transparent;
}

.menu-btn.open .menu-btn__lines::before {
    transform: rotate(45deg);
}

.menu-btn.open .menu-btn__lines::after {
    transform: rotate(-45deg);
}
/* EOF === Menu Toggle Button ====================================*/
/* ==============================================================*/


/* Side Nav ================================================*/
.side-nav {
    z-index: 9998;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: #fff;
    padding: 2rem;
    transform: translateX(100vw);
    transition: transform 0.5s ease-in-out;
    box-shadow: none;
    width: 100%;

    @include media-breakpoint-up(lg) { 
        width: 620px;
        box-shadow: -10px 0px 10px 1px #aaaaaa11;
        padding: 2rem 5rem;
    }
    &.open{
        transform: translateX(0);
    }
    & a {
        text-decoration: none;
        color: #111;
    }
}


.side-nav-link {
    margin: 4.5rem 0 3rem 0;
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(lg) { 
        margin-top: 3rem;
    }
}

.side-nav-link a {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 1rem;
    @include media-breakpoint-up(lg) { 
        font-size: 3rem;
        line-height: 5rem;
        padding: 1rem;        
    }
}


/* MAI */
.side-nav-link-item {
    display: inline-block;
    background: linear-gradient(to left, #fff 50%, $primary 50%) right;
    background-size: 201%;
    transition: 0.5s ease-out;

    &:hover {
        background-position: left; 
    }
}

.side-nav-action {
    padding: 2rem 0;
    border-top: 1px solid $bg-light-grey;
    border-bottom: 1px solid $bg-light-grey;

    & a {
        font-size: 1.1rem;
        border-bottom: 2px solid #fff;
        transition: all 0.2s ease-in-out;
    }

    & a:hover {
        border-bottom: 2px solid $primary;
    }
}

.side-nav-social {
    padding: 2rem 0;

    & a{
        margin-right: 2rem;
        padding: 0.3rem;
    }
}

.side-nav-social-item {
    display: inline-block;
    background: linear-gradient(to left, #fff 50%, $primary 50%) right;
    background-size: 201%;
    transition: .3s ease-out;
}

.side-nav-social-item:hover{
    background-position: left;
}

.side-nav-social-symbol {
    display: none;
}

/* EOF === SideNav ================================================*/