/* Globals ================================================*/
/* #FA8072 === */
/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v15-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v15-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v15-latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-regular.woff") format("woff"), url("../fonts/montserrat-v15-latin-regular.ttf") format("truetype"), url("../fonts/montserrat-v15-latin-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */ }

/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v15-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v15-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v15-latin-700.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-700.woff") format("woff"), url("../fonts/montserrat-v15-latin-700.ttf") format("truetype"), url("../fonts/montserrat-v15-latin-700.svg#Montserrat") format("svg");
  /* Legacy iOS */ }

/* poppins-300 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v15-latin-300.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/poppins-v15-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v15-latin-300.woff2") format("woff2"), url("../fonts/poppins-v15-latin-300.woff") format("woff"), url("../fonts/poppins-v15-latin-300.ttf") format("truetype"), url("../fonts/poppins-v15-latin-300.svg#Poppins") format("svg");
  /* Legacy iOS */ }

/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v15-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/poppins-v15-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v15-latin-regular.woff2") format("woff2"), url("../fonts/poppins-v15-latin-regular.woff") format("woff"), url("../fonts/poppins-v15-latin-regular.ttf") format("truetype"), url("../fonts/poppins-v15-latin-regular.svg#Poppins") format("svg");
  /* Legacy iOS */ }

/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v15-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/poppins-v15-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v15-latin-500.woff2") format("woff2"), url("../fonts/poppins-v15-latin-500.woff") format("woff"), url("../fonts/poppins-v15-latin-500.ttf") format("truetype"), url("../fonts/poppins-v15-latin-500.svg#Poppins") format("svg");
  /* Legacy iOS */ }

/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v15-latin-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/poppins-v15-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v15-latin-600.woff2") format("woff2"), url("../fonts/poppins-v15-latin-600.woff") format("woff"), url("../fonts/poppins-v15-latin-600.ttf") format("truetype"), url("../fonts/poppins-v15-latin-600.svg#Poppins") format("svg");
  /* Legacy iOS */ }

/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v15-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/poppins-v15-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v15-latin-700.woff2") format("woff2"), url("../fonts/poppins-v15-latin-700.woff") format("woff"), url("../fonts/poppins-v15-latin-700.ttf") format("truetype"), url("../fonts/poppins-v15-latin-700.svg#Poppins") format("svg");
  /* Legacy iOS */ }

/* poppins-800 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/poppins-v15-latin-800.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/poppins-v15-latin-800.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v15-latin-800.woff2") format("woff2"), url("../fonts/poppins-v15-latin-800.woff") format("woff"), url("../fonts/poppins-v15-latin-800.ttf") format("truetype"), url("../fonts/poppins-v15-latin-800.svg#Poppins") format("svg");
  /* Legacy iOS */ }

/* poppins-900 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins-v15-latin-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/poppins-v15-latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v15-latin-900.woff2") format("woff2"), url("../fonts/poppins-v15-latin-900.woff") format("woff"), url("../fonts/poppins-v15-latin-900.ttf") format("truetype"), url("../fonts/poppins-v15-latin-900.svg#Poppins") format("svg");
  /* Legacy iOS */ }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Poppins", "Montserrat", sans-serif; }

h1 {
  font-size: 4rem;
  font-weight: 500; }

h2 {
  font-size: 3rem;
  font-weight: 600; }

h3 {
  font-size: 1.5rem;
  font-weight: 300; }

/* Header ================================================*/
.header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 1rem 15rem;
  background-color: transparent; }

nav {
  display: flex;
  align-items: center; }

nav a {
  text-decoration: none;
  font-size: 1.1rem;
  margin: 0.5rem 1rem;
  color: #fff; }

.menu-item {
  display: inline-block;
  background: linear-gradient(to left, rgba(255, 129, 129, 0) 50%, #52aef8 50%) right;
  background-size: 201%;
  transition: .4s ease-out;
  padding: 0.5rem; }

.menu-item:hover {
  background-position: left; }

/* EOF === Header ================================================*/
/* ==============================================================*/
/* Menu Toggle Button ============================================*/
.toggle-btn {
  position: fixed;
  top: 2.4rem;
  right: 15rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 9999; }

.menu-span {
  padding-right: 1rem;
  color: #999;
  transition: all 1s ease-in-out;
  font-size: 1.1rem; }

.menu-span.open {
  display: none; }

.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  z-index: 1; }

.menu-btn__lines,
.menu-btn__lines::before,
.menu-btn__lines::after {
  width: 1.5rem;
  height: 0.2rem;
  background-color: #52aef8;
  transition: all 0.5s ease-in-out; }

.menu-btn__lines::before,
.menu-btn__lines::after {
  content: "";
  position: absolute; }

.menu-btn__lines::before {
  transform: translateY(-0.5rem); }

.menu-btn__lines::after {
  transform: translateY(0.5rem); }

.menu-btn.open .menu-btn__lines {
  background-color: transparent; }

.menu-btn.open .menu-btn__lines::before {
  transform: rotate(45deg); }

.menu-btn.open .menu-btn__lines::after {
  transform: rotate(-45deg); }

/* EOF === Menu Toggle Button ====================================*/
/* ==============================================================*/
/* Side Nav ================================================*/
.side-nav {
  z-index: 9998;
  position: fixed;
  top: 0;
  right: 0;
  width: 620px;
  height: 100vh;
  background-color: #fff;
  padding: 2rem 5rem;
  transform: translateX(100vw);
  transition: transform 0.5s ease-in-out;
  box-shadow: -10px 0px 10px 1px #aaaaaa11; }

.side-nav.open {
  transform: translateX(0); }

.side-nav a {
  text-decoration: none;
  color: #111; }

.side-nav-link {
  margin: 4.5rem 0 3rem 0;
  display: flex;
  flex-direction: column; }

.side-nav-link a {
  font-size: 3rem;
  line-height: 5rem;
  padding: 1rem; }

.side-nav-link-item {
  display: inline-block;
  background: linear-gradient(to left, #fff 50%, #52aef8 50%) right;
  background-size: 201%;
  transition: 0.5s ease-out; }

.side-nav-link-item:hover {
  background-position: left; }

.side-nav-action {
  padding: 2rem 0;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray; }

.side-nav-action a {
  font-size: 1.1rem;
  border-bottom: 2px solid #fff;
  transition: all 0.2s ease-in-out; }

.side-nav-action a:hover {
  border-bottom: 2px solid #52aef8; }

.side-nav-social {
  padding: 2rem 0; }

.side-nav-social a {
  margin-right: 2rem;
  padding: 0.3rem; }

.side-nav-social-item {
  display: inline-block;
  background: linear-gradient(to left, #fff 50%, #52aef8 50%) right;
  background-size: 201%;
  transition: .3s ease-out; }

.side-nav-social-item:hover {
  background-position: left; }

.side-nav-social-symbol {
  display: none; }

/* EOF === SideNav ================================================*/
/* ==============================================================*/
/* Sitemap ==================================================*/
.sitemap-section {
  background-color: lightgray;
  padding: 5rem 15rem;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.sitemap-pic {
  text-align: right;
  width: 40%; }

.sitemap-section h3 {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 2px solid #0f0807;
  padding-bottom: 0.3rem; }

.sitemap-section ul {
  list-style-type: none; }

.sitemap-section ul li {
  padding: 0.6rem 3rem 0.6rem 0;
  border-bottom: 1px solid #0f0807;
  font-size: 0.8rem;
  font-weight: 500; }

.sitemap-section ul li {
  padding-right: 6rem;
  transition: all 0.4s ease; }

.sitemap-section ul li:hover {
  color: #52aef8; }

.sitemap-section ul li a, .sitemap-section ul li a {
  text-decoration: none;
  color: inherit; }

/* Footer ==================================================*/
.footer {
  background-color: #52aef8;
  padding: 1rem 15rem;
  color: #111;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.footer-social {
  display: flex;
  flex-direction: row;
  justify-items: center; }

.footer-social-link, .footer-social-link:visited {
  text-decoration: none;
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 1em;
  margin: 0.5em;
  transition: all 0.5s ease-out; }

.footer-social-link:hover {
  background-color: #FFF; }

/* For Phones & Tablets */
/* For Phones & Tablets */
/* For Phones & Tablets */
/* For Phones & Tablets */
/* For Phones & Tablets */
/* For Phones & Tablets */
/* For Phones & Tablets */
/* For Phones & Tablets */
/* For Phones & Tablets */
@media only screen and (min-width: 200px) and (max-width: 1440px) {
  .body, .header {
    max-width: 100vw;
    width: 100%; }
  h2 {
    font-size: 2rem; }
  .header {
    padding: 3rem;
    height: auto; }
  .nav-links {
    display: none; }
  .toggle-btn {
    top: 3rem;
    right: 3rem; }
  .side-nav {
    width: 100%;
    padding: 2rem;
    box-shadow: none;
    height: 100vh;
    background-color: #FFF; }
  .side-nav-link {
    margin-top: 3rem; }
  .side-nav-link a {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 1rem; }
  .side-nav-action {
    padding: 2rem 0.5rem;
    font-size: 0.8rem; }
  .side-nav-social {
    display: none; }
  .side-nav-social-symbol {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-items: center;
    margin-top: 2.5rem; }
  .side-nav-social-icon, .side-nav-social-icon {
    text-decoration: none;
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 1em;
    margin: 0.5em;
    transition: all 0.5s ease-out; }
  .side-nav-social-icon:hover {
    background-color: #52aef8; }
  /* CLEAN */
  .sitemap-section {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    width: 100%; }
  .sitemap-pic {
    display: none; }
  .sitemap-contact, .sitemap-links {
    padding-bottom: 2rem; }
  .footer {
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem 1rem 2rem; } }

.header a {
  color: #111; }

.credit-section {
  padding: 6.5rem 15rem; }

h2 {
  text-align: center;
  padding-bottom: 6rem; }

.credit-box {
  display: flex;
  justify-content: space-between; }

.credit-pic {
  display: flex;
  justify-content: center; }

.credit-text {
  width: 100%; }

.credit {
  padding: 2rem 2rem 1rem 2rem; }

h3 {
  font-size: 1rem;
  font-weight: 400; }

.credit-link, .credit-link:visited {
  font-size: 0.9rem;
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid #111;
  transition: all 0.2s ease-in-out; }

.credit-link:hover {
  color: #52aef8;
  border-bottom: 1px solid #52aef8; }

/* For mobile phones: */
@media only screen and (min-width: 260px) and (max-width: 1440px) {
  .credit-section {
    width: 100%;
    padding: 3rem 0; }
  .credit-box {
    display: flex;
    flex-direction: column; }
  .credit-pic {
    padding-bottom: 2rem; }
  .credit-text {
    padding: 0 2rem; } }
