    <!-- Call to action -->
    <div class="container py-5 my-8 px-5 py-lg-6 my-lg-8">
            <div class="row border-top border-bottom border-3 border-primary py-4 py-lg-5">
                <div class="text-center col-lg-8 text-lg-start pb-lg-0 align-self-center">
                    <p class="display-4">Got an idea?</p>
                    <a class="h4" href="contact.html"><u>Let's work together.</u></a>
                </div>
        
                <div class="d-flex justify-content-center align-items-center col-lg-4 text-lg-end">
                    <a class="p-3 m-2" href="#">
                        <img src="@@webRoot/assets/img/instagram.svg" width="25rem">
                    </a>
                    <a class="p-3 m-2" href="#">
                        <img src="@@webRoot/assets/img/dribbel.svg" width="25rem">
                    </a>
                    <a class="p-3 m-2" href="#">
                        <img src="@@webRoot/assets/img/linked in.svg" width="25rem">
                    </a>
                </div>
            </div>
        </div>
     