    <!-- Footer -->
    <footer class="footer">
        <div class="footer-copy">
            <h4>
                &copy; 
                <script>
                    new Date().getFullYear()>2017&&document.write(new Date().getFullYear());
                </script>
                Design-mai
            </h4>
        </div>

        <div class="footer-social">
            <a class="footer-social-link" href="#">
                <img src="assets/img/instagram.svg" width="20rem">
            </a>
            <a class="footer-social-link" href="#">
                <img src="assets/img/dribbel.svg" width="20rem">
            </a>
            <a class="footer-social-link" href="#">
                <img src="assets/img/linked in.svg" width="20rem">
            </a>
        </div>
    </footer>
    <script src="@@webRoot/node_modules/swipe-listener/dist/swipe-listener.min.js"></script>
    <!-- build:js @@webRoot/assets/js/main.min.js -->
    <script src="@@webRoot/assets/js/main.js"></script>
    <script src="@@webRoot/assets/js/slider.js"></script>
    <!-- endbuild -->