    <!-- Sitemap -->
    <section class="bg-secondary py-7 px-4">
        <div class="container">
            <div class="row justify-content-lg-between">
                <div class="bg-secondary row col-lg-7 justify-content-lg-around">
                    <div class="py-3 col-lg-3">
                        <span class="sitemap-h6">Contact</span>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">info@design-mai.de</li>
                        </ul>
                    </div>
                        
                    <div class="py-3 col-lg-3">
                        <span class="sitemap-h6">Quick Links</span>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a href="portfolio.html">Portfolio</a></li>
                            <li class="list-group-item"><a href="service.html">Services</a</li>
                            <li class="list-group-item"><a href="about.html">About</a></li>
                            <li class="list-group-item"><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                        
                    <div class="py-3 col-lg-3">
                        <span class="sitemap-h6">Policy</span>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a href="policy.html">Policy terms</a></li>
                            <li class="list-group-item"><a href="privacy.html">Privacy</a></li>                            
                            <li class="list-group-item"><a href="credits.html">Credits</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-5 text-lg-center d-none d-lg-block">
                    <img src="@@webRoot/assets\img\Social Media _Sal.svg" width="80%">
                </div>
            </div>
        </div>
    </section>
        
    
    <!-- Footer -->
    <footer class="bg-primary py-4">
        <div class="container">
            <div class="row justify-content-lg-between">
                <div class="text-center mb-3 col-lg-3 text-lg-left mb-lg-0">
                    <span class="h6">
                            &copy; 
                            <script>
                                document.write(new Date().getFullYear());
                            </script>
                            Design-mai
                    </span>
                </div>

                <div class="text-center col-lg-3 text-lg-end">
                    <a class="px-3" href="#">
                        <img src="@@webRoot/assets/img/instagram.svg" width="20rem">
                    </a>
                    <a class="px-3" href="#">
                        <img src="@@webRoot/assets/img/dribbel.svg" width="20rem">
                    </a>
                    <a class="px-3" href="#">
                        <img src="@@webRoot/assets/img/linked in.svg" width="20rem">
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <script src="@@webRoot/node_modules/swipe-listener/dist/swipe-listener.min.js"></script>
    <!-- build:js @@webRoot/assets/js/main.min.js -->
    <script src="@@webRoot/assets/js/main.js"></script>
    <script src="@@webRoot/assets/js/slider.js"></script>
    <!-- endbuild -->