    <!-- Sitemap -->
    <section class="sitemap-section">
        <div class="sitemap-contact">
            <h3>Contact</h3>
            <ul>
                <li>info@design-mai.de</li>
            </ul>
        </div>

        <div class="sitemap-links">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="portfolio.html">Portfolio</a></li>
                <li><a href="service.html">Services</a</li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>

        <div class="sitemap-terms">
            <h3>Policy</h3>
            <ul>
                <li><a href="policy.html">Policy terms</a></li>
                <li><a href="privacy.html">Privacy</a></li>
                <li><a href="credits.html">Credits</a></li>
            </ul>
        </div>

        <div class="sitemap-pic">
            <img src="@@webRoot/assets\img\Social Media _Sal.svg" width="80%">
        </div>
    </section>
    
    <!-- Footer -->
    <footer class="footer">
        <div class="footer-copy">
            <h4>
                &copy; 
                <script>
                    document.write(new Date().getFullYear());
                </script>
                Design-mai
            </h4>
        </div>

        <div class="footer-social">
            <a class="footer-social-link" href="#">
                <img src="@@webRoot/assets/img/instagram.svg" width="20rem">
            </a>
            <a class="footer-social-link" href="#">
                <img src="@@webRoot/assets/img/dribbel.svg" width="20rem">
            </a>
            <a class="footer-social-link" href="#">
                <img src="@@webRoot/assets/img/linked in.svg" width="20rem">
            </a>
        </div>
    </footer>
    <script src="@@webRoot/node_modules/swipe-listener/dist/swipe-listener.min.js"></script>
    <!-- build:js @@webRoot/assets/js/main.min.js -->
    <script src="@@webRoot/assets/js/main.js"></script>
    <script src="@@webRoot/assets/js/slider.js"></script>
    <!-- endbuild -->