<!-- SERVICE -->
<section class="bg-secondary py-5 px-4 py-lg-6">
    <div class="container">
        <h2 class="display-5">How can we help you?</h2>
        <div class="row justify-content-lg-between mb-4">
            <div class="row col-lg-7 justify-content-lg-around">
                <div class="py-3 col-lg-3">
                    <span>Strategy</span>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Online strategy</li>
                        <li class="list-group-item">Consulting</li>
                    </ul>
                </div>

                <div class="py-3 col-lg-3">
                    <span>Design</span>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Website Design</li>
                        <li class="list-group-item">Responsive Design</li>
                        <li class="list-group-item">Business Package</li>
                    </ul>
                </div>

                <div class="py-3 col-lg-3">
                    <span>Development</span>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Websites</li>
                        <li class="list-group-item">Landingpages</li>
                        <li class="list-group-item">Web Optimization</li>
                        <li class="list-group-item">SEO</li>
                        <li class="list-group-item">HTML5 / CSS3 / JS</li>
                        <li class="list-group-item">Wordpress</li>
                    </ul>
                </div>
                    
                <div class="py-3 col-lg-3">
                    <span>Hosting</span>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Webspace</li>
                        <li class="list-group-item">Domain</li>
                        <li class="list-group-item">SSL-Certificate</li>
                        <li class="list-group-item">Domain Email</li>
                        <li class="list-group-item">Maintenance</li>
                    </ul>
                </div>                      
            </div>

            <div class="d-none d-lg-block col-lg-5 text-lg-center">
                <img src="assets/img/Design Components Short _Sal.svg" width="60%">
            </div>
        </div>

        <a class="link h3 py-1 px-2" href="services.html">→ Learn more</a>
    </div>       
</section>